<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <navbar></navbar>
  <form class="well">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <textbox 
            disabled="false" 
            [onTextInput]="translate.bind(this)"
            placeholder="Input your text here..."
            areaId="input-box">
          </textbox>
        </div>
        <div class="col-md-6">
          <textbox 
            disabled="true" 
            placeholder="Here the translation appears"
            areaId="output-box">
          </textbox>
        </div>
      </div>
    </div>
  </form>


